.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blog{
  background-color: rgb(169, 169, 170);
  padding: 10px;
  border: 5px dotted rgb(255, 146, 3);
}

.batCharge{
  padding: 3px 5px;
  background-color: skyblue;
  margin-left: 5px;
}
.batteryBackground{
  background-image: url(charging.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  overflow: hidden;
 padding-bottom: 420px;
 padding-top: 0px;
}

.text{
  color: white;
  padding: 0px;
  margin: 12px;
}

.buttons{
  position: relative;
  position: center;
  margin-top: 100px;
}